html, body {
  margin: 0;
  height: 100%;
}

.search-wrap {
  box-sizing: border-box;
  height: 45px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

ul.links {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.links li {
  display: inline;
  margin-left: 5px;
}

ul.links a {
  text-decoration: none;
  color: #333;
}

.container {
  position: relative;
  height: 100%;
}

.iframe-wrap {
  position: absolute;
  top: 45px;
  bottom: 0;
  font-size: 0;
  width: 100%;
}

iframe {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border: 0px;
}

